*{
	margin: 0;
	padding: 0;
}
body
{
	background-image:url(back.jpeg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.logo
{
	width: 500px;
	cursor: pointer;
}
.main
{
	width: 85%
	height: 15%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
button
{
	color: #fbfcfd;
	padding: 10px 25px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}
.content
{
	color: #fff;
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
	z-index: 2;
}
h1
{
	font-size: 80px;
	margin: 10px 0 30px;
	line-height: 80px;
}
.sidebar
{
	width: 50px;
	height: 100vh;
	background: linear-gradient(#170602, #000729);
	position: absolute;
	right: 0;
	top: 0;
}
.bag
{
	display: block;
	width: 26px;
	margin: 40px auto 0;
    cursor: pointer;
}